html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
background: rgb(242, 201, 201);
background: -moz-radial-gradient(50% 50%, farthest-side, #487a77, #fff);
background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 300, from(rgb(244, 227, 227)), to(rgb(242, 201, 201)));
height: 100%;
}

body {
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	color: #845C4D;
	letter-spacing: .1em;
	
	}
section {
	padding: 2em 0;
}

#container>header, div#main, #container>footer {
	text-align: center;
	width: 100%;
}
#container>header {
	padding: 20px 0 0 0;	
}
label {
	display: block;
	text-shadow: rgba(255, 255, 255, .5) 1px 1px 0px;	
	font-size: 13px;
	text-transform: uppercase;
}
#container>header h1, #container>header small {
display: none;
}

#container>footer {
	position: fixed;
	bottom: 0;
}
h1 {
	font-size: 34px;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;	
	margin: 0;
	padding: 0;	
	letter-spacing: .3em;
	text-shadow: rgba(255,255,255,.75) 1px 1px 0px;
}
 small {	
	font-size: 13px;
	letter-spacing: .1em;
	text-shadow: rgba(255,255,255,.75) 1px 1px 0px;
	text-transform: uppercase;
}
#container>footer h1, #container>footer small  {
	position: relative;
	top: -70px;
	
}
#container>footer #emblem .bgImg {
	background:url(../images/emblem.png) no-repeat 50% transparent;
	position: relative;
	height: 56px;
	}
	
input:focus {
    outline-width: 0;
}
#english {
	width: 100%;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	color: #845C4D;
	font-size: 2em;
	background: rgba(243, 223, 209, 1);
	border: 0;
	padding-top: 1em;
	padding-bottom: 0;
	margin-bottom: 10px;
	/*border: 1px solid #C1A7A7;*/
	vertical-align: baseline;
	text-align: center;
	background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 600, from(rgb(243, 223, 209)), to(rgb(242, 217, 182)));
	box-shadow: inset 0px 0px 8px rgba(226,83,27, .5);
	border-right: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(150, 10, 10, .2);
	border-top: 1px solid rgba(150, 10, 10, .2);	
	border-radius: 5px;
	}

#translate {
	font-size: 2em;
	padding: 1em;
	border:0;	
	margin: 1em auto;
	/*background: url('../images/btnPig.png') no-repeat center top;*/
	color: #fff;
	opacity: 0;
	display: none;
}
#translate span {
	letter-spacing: .1em;
	display:none;
	padding:1em 1em;
}

#pl {
width: 96%;
position: relative;
top: 30px;
left: 2%;
opacity: 0;
}
#en {
	width: 96%;
	position: relative;
	left: 2%;
}
#pl label {
	position: relative;
	top: 10px;
}

p#translated {
	box-sizing: border-box;
	width: 100%;
	font-size: 34px;
	padding: 1em;
	background: rgba(242, 220, 220, .5);
	box-shadow:  0px 0px 8px rgba(150,83,27, .2);
	/*background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 600, from(rgb(243, 223, 209)), to(rgb(242, 217, 182)));
	box-shadow: inset 0px 0px 8px rgba(226,83,27, .5);*/	
}

@media screen and (max-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
  h1 {
  	font-size: 21px;
  }
  #english {
  	font-size: 24px; 	
  }
  #pl {  position: absolute;
  top:120px;
  left: 2%; 
  }
  #en {
  	position: absolute;
  	bottom: 115px;
  	left: 2%;
  }
  p#translated {
  	font-size: 24px;  	
   }
  section {
  	padding: 2em 0;
  }
  #container>header h1, #container>header small {
  display: block;
  }
  #container>footer h1, #container>footer small {
  display: none;
  }
  #translate {
   	background-size:40% 40%;
  }
  
}
@media screen and (max-height: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
  h1 {
  	font-size: 21px;
  }
  #english {
  	font-size: 24px; 	
  }
  #pl {  position: absolute;
  top:75px;
  left: 2%; 
  }
  #en {
  	position: absolute;
  	bottom: 70px;
  	left: 2%;
  }
  p#translated {
  	font-size: 24px;  	
   }
  section {
  	padding: 2em 0;
  }
  #container>header h1, #container>header small {
  display: block;
  }
  #container>footer h1, #container>footer small {
  display: none;
  }
  #translate {
   	background-size:40% 40%;
  }
  
}

